<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Vue.js App</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  </head>
  <body>
    <div id="app">
      <a href="../index.html">
        <button style="display: block">Back</button>
      </a>
      <input type="text" v-model="email" placeholder="Email" />
      <input type="password" v-model="password" placeholder="Password" />
      <input type="text" v-model="subscription" placeholder="Subscription" />
      <button @click="saveAccount">Save Account</button>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          email: "",
          password: "",
          subscription: "",
        },
        mounted() {
          this.getAccountSubscription();
        },
        methods: {
          saveAccount() {
            const accountShopeeTools = {
              email: this.email,
              password: this.password,
              subscription: this.subscription,
            };
            window.electron.ipcRenderer.send(
              "account-subscription",
              accountShopeeTools
            );
          },
          getAccountSubscription() {
            const xhr = new XMLHttpRequest();
            xhr.onreadystatechange = () => {
              if (xhr.readyState === 4 && xhr.status === 200) {
                const data = JSON.parse(xhr.responseText);
                console.log(data.email);
                this.email = data.email;
                this.password = data.password;
                this.subscription = data.subscription;
              }
            };

            xhr.open("GET", "../store/account-subscription.json", true);
            xhr.send();
          },
        },
      });
    </script>
  </body>
</html>
