<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Auto Unfollow</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-toasted"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div id="app">
      <h1>Balas Ulasan Otomatis</h1>
      <div class="md:grid md:grid-cols-1 lg:grid-cols-2 xl:gap-6 w-full mt-3">
        <div class="w-full">
          <!-- Pilihan Login -->
          <!-- <div class="py-3 px-2 lg:px-5 h-fit">
            <h2 class="text-lg font-bold mb-4">Pilihan Login Tiktok Seller</h2>
            <div class="mb-4">
              <div
                v-for="(method, id) in options.loginMethods"
                :key="id"
                class="my-1"
              >
                <input
                  v-model="selected.loginMethod"
                  type="radio"
                  :id="method.name"
                  name="login-methods"
                  :value="method.value"
                  class="cursor-pointer"
                />
                <label
                  class="text-gray-700 font-medium ml-2 cursor-pointer"
                  :for="method.name"
                >
                  {{ method.name }}
                </label>
              </div>
            </div>
          </div> -->

          <!-- Konfigurasi Undangan untuk Affiliator -->
          <div class="py-3 px-2 lg:px-5 h-fit">
            <h2 class="text-lg font-bold mb-2">Konfigurasi Bot Automasi</h2>
            <div class="mb-4">
              <label class="block text-gray-700 font-medium mb-2" for="whatsapp"
                >Jumlah balas ulasan</label
              >
              <input
                id="bot-iteration"
                v-model="selected.iteration"
                type="number"
                class="block w-full border border-gray-400 rounded-md py-2 px-3 focus:outline-none focus:border-gray-900"
              />
            </div>
            <div>
              <label class="block text-gray-700 font-medium mb-2" for="whatsapp"
                >Pesan ulasan</label
              >
              <textarea
                v-model="selected.replyMessage"
                placeholder="masukkan balasan ulasan"
                class="block w-full border border-gray-400 rounded-md py-2 px-3 focus:outline-none focus:border-gray-900"
                rows="4"
                maxlength="500"
              ></textarea>
              <span v-if="error.replyMessage" class="text-red-500 text-sm ml-2">
                {{error.replyMessage}}
              </span>
            </div>
          </div>

          <!-- Atribut Kreator -->
        </div>
        <div class="py-3 px-2 lg:px-5 h-fit">
          <div class="mb-4">
            <h2 class="text-lg font-bold">Filter Ulasan</h2>
            <p class="text-xs lg:text-sm font-medium text-[#9999]">
              Tidak wajib diisi
            </p>
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-medium mb-2" for="whatsapp"
              >Nama Produk</label
            >
            <input
              id="bot-product-name"
              placeholder="Masukkan nama produk"
              v-model="selected.productName"
              type="text"
              class="block w-full border border-gray-400 rounded-md py-2 px-3 focus:outline-none focus:border-gray-900"
            />
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-medium mb-2" for="whatsapp"
              >Rating Ulasan</label
            >
            <div class="mb-4 grid grid-cols-2">
              <div
                v-for="(rating, id) in options.ratingComment"
                :key="id"
                class="my-1"
              >
                <input
                  v-model="selected.ratingComment"
                  :id="rating.name"
                  type="radio"
                  name="rating"
                  :value="rating.value"
                  class="cursor-pointer"
                />
                <label
                  class="text-gray-700 font-medium ml-2 cursor-pointer"
                  :for="rating.name"
                >
                  {{ rating.name }}
                </label>
              </div>
            </div>
          </div>
          <div class="w-full hidden lg:block mt-3 lg:px-4">
            <button
              class="bg-black text-white px-4 py-3 rounded-md hover:opacity-80 w-full"
              @click="handleSubmit"
            >
              Simpan
            </button>
          </div>
        </div>
      </div>
      <div class="w-full lg:hidden mt-3 lg:px-4">
        <button
          class="bg-black text-white px-4 py-3 rounded-md hover:opacity-80 w-full"
          @click="handleSubmit"
        >
          Simpan
        </button>
        <button
          @click="processReplyReviews"
          :disabled="!hasConfig"
          class="bg-black text-white px-4 py-3 rounded-md w-full hover:opacity-80"
        >
          Proses Balas Ulasan Otomatis
        </button>
      </div>
    </div>
    <script>
      Vue.use(Toasted, {
        position: "top-right",
        duration: 1500,
        theme: "toasted-primary",
        iconPack: "fontawesome",
      });
      new Vue({
        el: "#app",
        data: {
          productName: "",
          options: {
            loginMethods: [
              {
                id: 1,
                name: "Dengan Qr",
                value: "qr",
              },
              {
                id: 2,
                name: "Akun Shopee Seller (No HP/Email)",
                value: "seller_phone",
              },
              {
                id: 3,
                name: "Akun Gmail",
                value: "seller_gmail",
              },
              {
                id: 4,
                name: "Akun Facebook",
                value: "seller_facebook",
              },
            ],
            ratingComment: [
              {
                id: 1,
                name: "Semua",
                value: "semua",
              },
              {
                id: 2,
                name: "5 Bintang",
                value: "5 Bintang",
              },
              {
                id: 3,
                name: "4 Bintang",
                value: "4 Bintang",
              },
              {
                id: 4,
                name: "3 Bintang",
                value: "3 Bintang",
              },
              {
                id: 5,
                name: "2 Bintang",
                value: "2 Bintang",
              },
              {
                id: 6,
                name: "1 Bintang",
                value: "1 Bintang",
              },
            ],
          },
          selected: {
            loginMethod: "qr",
            iteration: 1,
            replyMessage: "",
            ratingComment: "semua",
            productName: "",
          },
          error: {
            replyMessage: false,
          },
          subscriptionId: null,
          configId: null,
          hasConfig: false,
          userInfo: null,
          userId: null,
        },
        mounted() {
          const getUserInfo = localStorage.getItem("user_info");
          this.userInfo = JSON.parse(getUserInfo);
          this.userId = this.userInfo.id;
          this.subscriptionId = this.userInfo.subscriptionId;
          this.sendGetConfig();
          this.getConfigFromStore();
        },
        methods: {
          async sendGetConfig() {
            window.electron.ipcRenderer.send(
              "get-reply-reviews-config",
              this.subscriptionId
            );
            await this.getConfigFromStore();
          },
          async getConfigFromStore() {
            try {
              const response = await fetch(
                "../store/reply-reviews-config.json"
              );
              if (!response.ok) {
                new Error(`Failed to fetch data. Status: ${response.status}`);
              } else {
                const res = await response.text();
                if (res) {
                  const data = JSON.parse(res);
                  this.selected = data;
                  this.hasConfig = true;
                }
              }
            } catch (error) {
              console.error(error);
            }
          },
          processReplyReviews() {
            window.electron.ipcRenderer.send(
              "process-reply-reviews",
              this.selected
            );
          },
          async handleSubmit() {
            const { selected, userId, subscriptionId } = this;
            const payload = { ...selected, userId, subscriptionId };
            if (!this.selected.replyMessage) {
              this.error.replyMessage = "Balasan Ulasan tidak boleh kosong";
            } else {
              try {
                if (this.hasConfig) {
                  window.electron.ipcRenderer.send(
                    "update-reply-reviews-config",
                    payload
                  );
                  this.$toasted.success("Berhasil menyimpan konfigurasi ", {
                    icon: "check-circle",
                  });
                  //   await this.getConfigFromStore();
                } else {
                  window.electron.ipcRenderer.send(
                    "post-reply-reviews-config",
                    payload
                  );
                  this.$toasted.success("Berhasil menyimpan konfigurasi ", {
                    icon: "check-circle",
                  });
                  this.hasConfig = true;
                  //   await this.getConfigFromStore();
                  this.$toast.success("Berhasil menyimpan konfigurasi");
                }
              } catch (error) {
                if (error.response.status === 400) {
                  log.error(
                    "Gagal menyimpan. Periksa kembali form konfigurasi kamu"
                  );
                } else {
                  log.error(
                    "Terjadi kesalahan. Silahkan coba beberapa saat lagi"
                  );
                }
              }
            }
          },
        },
      });
    </script>
  </body>
</html>
